
:root {

    --color-wintergreen : #49785f ;
    --color-wintergreen-light: rgba(90,180,200,0.9);
    --color-seafoam: #b4daa7 ;
    --color-twinflame : #c2552e ;
    --color-umber : #352c24 ;
    --color-pistachio : #f5f4c3 ;


    --color-white : #fff ;
    --color-light: #f0eff5 ;
    --color-gray-light: #a6a4ac ;
    --color-gray-dark: #56555e ;
    --color-dark : #27282f ;
    --color-primary: rgb(71,7,234);
    --color-bgprimary : rgb(7,121,134) ;

    --color-success: rgb(34,202,75) ;
    --color-danger : rgb(255, 67,54) ;
    --color-warning: rgb(234,181,7) ;
    --color-purple: rgb(160,99,245) ;
    --color-blgreen: rgb(99,160,245);
    --color-blgreen-light: rgba(99,160,244,.2) ;
    --color-primary-light : rgba( 71,7,234,.2) ;
    --color-bgprimary-light : rgba( 7,221,234,.1) ;
    --color-success-light : rgba( 34,202,75,.2) ;
    --color-danger-light : rgba(255,67,54,.2) ;
    --color-purple-light : rgba(160,99,244,.2) ;

    --card-padding: 1.6rem ;
    --padding-1 : 1rem ;
    --padding-2: 8px ;

    --card-border-radius: 1.6rem ;
    --border-radius-1: 1rem ;
    --border-radius-2: 6px ;



}

*{
    margin: 0 ;
    padding: 0 ;
    outline: 0 ;
    border: 0 ;
    appearance: none;
    color: var(--color-umber) ;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px ;
}


body {
    background-color: var(--color-success-light) ;
    display: flex ;
    flex-direction: column;
    margin:0 ;
    padding: 0 ;
    height: 100vh ;
    font-family: 'Poppins',sans-serif;
}


.titleblock {
    background-color: var(--color-wintergreen);
    /* background-image: url("images/pascal-debrunner.jpg") ;
    background-size: contain ;
    background-repeat: no-repeat ; */
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem ;
    padding: var(--padding-2);
    box-shadow : 5px 5px 12px slategray ;
    margin-bottom:5px ;
}


.titleblock .hamburger {
    display: none ; 
    color: var(--color-pistachio) ;
    font-size:2.5rem ;

}

.title-head {
    color: var(--color-pistachio) ;
}


/* 
.titleblock .title {
    display: flex ;
    align-items: center ;
    gap: 1.5rem ;
} */

nav {
    font-size: 1.2rem ;
}

.topnav {
    margin-top: 4.2rem ;
}

nav .topnav-list {
    display: flex ;
    flex-wrap : wrap ;

    justify-content: flex-end ;
    /* background-color: beige; */
    border-radius: 5px ;
    gap : 0.2rem ;
    flex : 1 0  ;
    
}

li {

    background-color: var(--color-pistachio);
    padding : var(--padding-2);
    border-radius: var(--border-radius-2) ; 
    /* border : 1px solid #555 ; */

}

li:hover {
    /* background-color: var(--color-gray-light); */
    background-color: var(--color-seafoam) ;
    transition: background-color .5s ease-in-out;
}

li.active {
    background-color: var(--color-wintergreen-light);
}

.topmain {
    background-color: beige ;

}
.main {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: auto 1fr ;
    gap: .2rem ;
    row-gap: 1.2rem ;
    justify-items: center ;
    padding : var(--padding-1)  ;
    background-color: var(--color-seafoam);
    

}

.main-card {
    background-color: var(--color-wintergreen-light) ;
    box-shadow : 6px 6px 5px slategray;
    font-size: 1.4rem ;
    width: 28rem ;
    display: flex ;
    flex-direction: column;
    justify-content: space-between ;
    column-gap: .4rem ;
    padding: var(--padding-1); 
    border-radius: var(--card-border-radius);
    

}

.main-card div {
    flex: 1 1 0 ;
    height:240px ;
}

.main-card img{
    height:100% ;
    width: 100% ;
    
}

.main-tile-container {
    display: flex ;
    background-color: var(--color-seafoam) ;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    gap: 5px ;
    row-gap: 1rem ;
    padding: var(--padding-1);
}

.main-tile-head{
    font-size: 1.4rem ;
    background-color: var(--color-seafoam) ;
    text-align: center ;
    padding: var(--padding-1);
    font-style: italic;
}

.main-tile {
    background-color : var(--color-wintergreen-light) ;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow : 6px 6px 5px slategray;
    height:18rem ;
    
    display: flex ;
    flex: 0 0 32rem ;
    justify-content: space-evenly ;
    align-items: center ;
}


.main-tile-col {

    display:flex ;
    flex-direction: column;
    align-items: center ;
    flex: 1 1 16rem ;
    
    
    
}

.main-tile-img {

    height:12rem ;
    width: 12rem ;


}


.main-focus-head{
    background-color: var(--color-seafoam);
    font-size: 1.3rem ;
    text-align: center;
}

.main-focus-top {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-evenly ;
    gap: 10px ;
    align-content: center ;
    background-color: var(--color-seafoam);
    padding-bottom: 50px ;
}

.main-focus-left {
    flex: 1 0 36% ;
    
    padding: var(--card-padding) ;
    border-radius : var(--border-radius-2);
    font-size : 1.4rem ;
    background-color: var(--color-pistachio);
}


.main-focus-right  {
    flex: 1 0 60% ;
    align-items: right ;
    display:flex ;
    justify-content: space-evenly;
    padding: var(--padding-1) ;
    border-radius: var(--border-radius-1);
    background-color: var(--color-wintergreen-light);
    

}

.main-focus-tnails {
    display: flex ;
    flex-direction: column ;
    gap: 5px ;
}
.main-focus-tnails img {

    height: 90px ;
}


.main-focus-big img {
    height: 400px ;
}

.detailbutton {
    background-color: var(--color-pistachio) ;
    /* color: var(--c) ; */
    font-size: 1.2rem ;
    text-align: center ;
    border-radius: var(--border-radius-1);
    width: 80% ;

}

.detailbutton:hover {
    background-color: var(--color-seafoam) ;
    transition: background-color .2s ease-in-out;

}
.detail-list {

    padding: var(--padding-1) ;
}

li.detail-li {
    
    width: 100% ;
    padding : 5px;
    border-radius: 1px ;

}

.click-detail {
    color : var(--color-wintergreen) ;
    background-color: yellow;
    font-size: 1.4rem ;
    text-align : center ;
    margin-top: 3px ;
}
@media screen and (min-width:700px) and (max-width:1060px){
    .main {
        grid-template-columns: 1fr 1fr ; 
    }

    .topnav {
        margin-top: 0rem ;
    }

    nav .topnav-list {
        flex-direction: column;
        font-size: 1.2rem ;
        padding: 1px ;
        
        
    }

}

@media screen and (max-width:699px){
    
    .title{
        display: block ;
    }

    .titleblock .hamburger {
        display: flex ;
    }
    
    .main {
        grid-template-columns: 1fr ; 
        justify-items: center ;
    }



    nav .topnav-list {
        display: none ;
        
        
    }

    .main-focus-right {
        flex-direction: column ;
        align-items: center ;
        gap: 3px ;
    }
    .main-focus-tnails {
        display: flex ;
        flex-direction: row ;
        gap: 5px ;
    }
}

