
:root {
    --color-white : #fff ;
    --color-light: #f0eff5 ;
    --color-gray-light: #a6a4ac ;
    --color-gray-dark: #56555e ;
    --color-dark : #27282f ;
    --color-primary: rgb(71,7,234);
    --color-bgprimary : rgb (7,121,134);

    --color-success: rgb(34,202,75) ;
    --color-danger : rgb(255, 67,54) ;
    --color-warning: rgb(234,181,7) ;
    --color-purple: rgb(160,99,245) ;
    --color-blgreen: rgb(99,160,245);
    --color-blgreen-light: rgba(99,160,244,.2) ;
    --color-primary-light : rgba( 71,7,234,.2) ;
    --color-bgprimary-light : rgba( 7,221,234,.1) ;
    --color-success-light : rgba( 34,202,75,.2) ;
    --color-danger-light : rgba(255,67,54,.2) ;
    --color-purple-light : rgba(160,99,244,.2) ;

    --card-padding: 1.6rem ;
    --padding-1 : 1rem ;
    --padding-2: 8px ;

    --card-border-radius: 1.6rem ;
    --border-radius-1: 1rem ;
    --border-radius-2: 6px ;



}

*{
    margin: 0 ;
    padding: 0 ;
    outline: 0 ;
    border: 0 ;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px ;
}


body {
    background-color: var(--color-success-light) ;
    display: flex ;
    flex-direction: column;
    margin:0 ;
    padding: 0 ;
    height: 100vh ;
    font-family: 'Poppins',sans-serif;
}


.titleblock {
    background-color: var(--color-bgprimary-light);
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem ;
    padding: var(--padding-2);
    box-shadow : 6px 6px 5px slategray;
}


.titleblock .hamburger {
    display: none ; 

}
/* 
.titleblock .title {
    display: flex ;
    align-items: center ;
    gap: 1.5rem ;
} */

nav {
    font-size: 1.6rem ;
}

nav .topnav-list {
    display: flex ;
    flex-wrap : wrap ;
    justify-content: space-evenly ;
    background-color: beige;
    border-radius: 5px ;
    gap : 0.2rem ;
    flex : 1 0  ;
    
}

li {

    background-color: var(--color-blgreen-light);
    padding : var(--padding-2);
    border-radius: var(--border-radius-2) ; 
    /* border : 1px solid #555 ; */

}

li:hover {
    /* background-color: var(--color-gray-light); */
    background-color: yellow ;
    transition: background-color .5s ease-in-out;
}

li.active {
    background-color: var(--color-success);
}

.topmain {
    background-color: beige ;
}
.main {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: auto 1fr ;
    gap: .2rem ;
    row-gap: 1.2rem ;
    justify-items: center ;
    padding : var(--padding-1);
    background-color: var(--color-bgprimary-light);
    

}

.main-card {
    background-color: var(--color-blgreen) ;
    box-shadow : 6px 6px 5px slategray;
    font-size: 1.4rem ;
    width: 28rem ;
    display: flex ;
    flex-direction: column;
    justify-content: space-between ;
    column-gap: .4rem ;
    padding: var(--card-padding) ; 
    border-radius: var(--card-border-radius);
    

}

.main-card div {
    flex: 1 1 0 ;
}

.main-card img{
    height:100% ;
    width: 100% ;
    
}

.main-tile-container {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    gap: 5px ;
    row-gap: 1rem ;
}

.main-tile-head{
    font-size: 1.4rem ;
    text-align: center ;
    padding: var(--padding-1);
    font-style: italic;
}

.main-tile {
    background-color : var(--color-blgreen) ;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow : 6px 6px 5px slategray;
    height:18rem ;
    
    display: flex ;
    flex: 0 0 32rem ;
    justify-content: space-evenly ;
    align-items: center ;
}


.main-tile > div {

    flex: 1 1 50% ;
    
    
}

.main-tile-img img {
    width: 100% ;

}

@media screen and (min-width:700px) and (max-width:1060px){
    .main {
        grid-template-columns: 1fr 1fr ; 
    }

    nav .topnav-list {
        flex-direction: column;
        font-size: 1.2rem ;
        padding: 1px ;
        
        
    }

}

@media screen and (max-width:699px){
    
    .title{
        display: block ;
    }

    .titleblock .hamburger {
        display: flex ;
    }
    
    .main {
        grid-template-columns: 1fr ; 
        justify-items: center ;
    }



    nav .topnav-list {
        display: none ;
        
        
    }
}

